<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <app-redes-sociales></app-redes-sociales>
    </div>
    <div class="col-sm-8">  
      <h3>Noticias</h3>
      <hr>
      <div class="card mb-3" *ngFor="let post of posts | orderBy: 'publicated'">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.message }}</p>
          <p class="card-text"><small class="text-muted">Publicado {{ post.publicated | date }}</small></p>
        </div>
        <img [src]="post.urlImage" class="card-img-bottom" alt="...">
      </div>
    </div>
  </div>
</div>

