<div 
    class="jumbotron shadow-sm bg-white rounded" 
    style="background-image: url(https://www.itl.cat/pngfile/big/105-1058310_goku-black-and-white.png); background-position: center; opacity: 100;">
    <h1 class="display-4"><strong>Clan, Dragon Ball Z!</strong></h1>
    <p class="lead">
      <strong>¡Bienvenid@s al Clan DBZ del Age of Empires! Sin duda uno de mejores juegos de estrategia por la inmensa variedad de estrategias de guerra y su potencial para darte batallas épicas en duelos 1vs1 y en equipo. Disfruta de Showmatch en vivo, aprende del juego con nosotros, entérate de noticas y mucho más.</strong>
    </p>
    <hr class="my-4">
    <a class="btn btn-outline-danger btn-lg" href="https://dbz.voobly.com/" target="_blank" role="button">Unirse al Clan</a>
  </div>